<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link
		href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="css/style.css">
	
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	
	<title>Create Employee</title>
	
</head>

<body>
<div class="form-row ">
				<div class="col-sm12">
                 <h3>
                <a href="/home" class="btn btn-primary"><span class="glyphicon"></span>Home</a>
                </h3></div>
                <div class="col-sm12">
                <h3>
                    <a href="/employee" class="btn btn-primary"><span class="glyphicon"></span>View Employees</a>
                </h3>
                </div>
                </div>

	<h2><a href="#" class="btn btn-primary"><span class="glyphicon"></span>Create Employee</a></h2>
		<form action="/save" method="post">
		
			<div class="form-row ">
				<div class="col-md-4 mb-3">
					<label for="empid">Employee ID</label> <input type="number"
						class="form-control-create-emp" id="empid"
						placeholder="EmpID" required>
				</div>
				<div class="col-md-4 mb-3">
					<label for="firstname">First name</label> <input type="text"
						class="form-control-create-emp" id="firstname"
						placeholder="First name"  required>
				</div>
				<div class="col-md-4 mb-3">
					<label for="lastname">Last name</label> <input type="text"
						class="form-control-create-emp" id="lastname"
						placeholder="Last name"  required>
				</div>
				</div>
				
				<div class="form-row">
				<div class="col-md-3 mb-3">
					<label for="billstartdate">Bill_Start_date</label> <input type="text"
						class="form-control-create-emp" id="billstartdate"
						placeholder="Bill Start Date"  required>
				</div>
				<div class="col-md-3 mb-3">
					<label for="designation">Designation</label> <input type="text"
						class="form-control-create-emp" id="designation"
						placeholder="Designation" required>
				</div>
				<div class="col-md-3 mb-3">
					<label for="type">Type</label> <input type="text"
						class="form-control-create-emp" id="type"
						placeholder="Type"  required>
				</div>
				<div class="col-md-3 mb-3">
					<label for="location">Location</label> <input type="text"
						class="form-control-create-emp" id="location"
						placeholder="Location"  required>
				</div>
				</div>
				
				<div class="form-row">
				<div class="col-md-3 mb-3">
					<label for="city">City</label> <input type="text"
						class="form-control-create-emp" id="city"
						placeholder="City"  required>
				</div>
				<div class="col-md-3 mb-3">
					<label for="grade">Grade</label> <input type="text"
						class="form-control-create-emp" id="grade"
						placeholder="Grade"  required>
				</div>
				<div class="col-md-3 mb-3">
					<label for="mobnum">Mob_Num</label> <input type="number"
						class="form-control-create-emp" id="mobnum"
						placeholder="Mobile Num"  required>
				</div>
				<div class="col-md-3 mb-3">
					<label for="won">WON</label> <input type="number"
						class="form-control-create-emp" id="won"
						placeholder="WON#" value="WON" required>
				</div>
				</div>
				
				
				<button type="submit" class="btn btn-success btn-lg float-right">Save</button>
			
	</form>
	
</body>
</html>